// Background Colors
$dark_bg: #1b1b1b;
$red_bg: #d2401e;
$btn_slider_bg: #f7f7f2;
$testimonial_bg: #f6f7f2;

// Text Colors
$btn_slider_text: #d2401e;
$brown_text: #b7903c;
$black_text: #303030;
$light_grey: #e4e4d4;
$p_primary: #767676;
$p_secondary: #858585;
$dark_red: #ab4027;
$pizza_title: #b7903c;
$pizza_price: #d2401e;
$subtitle_event: #d2401e;
$green_text: #339966;